repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      # Updates the lockfile
      - id: uv-lock
      # Exports the lockfile to requirements.txt without hashes
      - id: uv-export 
        args: ["--no-hashes", "--format=requirements-txt", "--output-file=requirements.txt"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
    # Check code formatting
      - id: ruff-check
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
